/* ======================================

	Milah

====================================== */
.color-red {
  color: #e72b31; }

.color-green {
  color: #88b840; }

.color-purple {
  color: #74626f; }

.color-light-purple {
  color: #a1949e; }

.color-lighter-purple {
  color: #c1b8b9; }

.color-teal {
  color: #76b1be; }

.color-light-gray {
  color: #c2c2c2; }

.color-mid-gray {
  color: #898989; }

.color-dark-gray {
  color: #707070; }

body {
  background: url(images/bg.jpg) repeat;
  color: #cbcbcb;
  font-family: "arvoregular";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: .05em; }

.main label, #site-interface label {
  color: #cbcbcb !important; }
.main a, #site-interface a {
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: all .25s ease;
  color: #738179; }
  .main a:hover, .main a:active, .main a:focus, #site-interface a:hover, #site-interface a:active, #site-interface a:focus {
    text-decoration: none;
    color: #cbcbcb;
    border-bottom: solid 1px #cbcbcb; }
    .main a:hover img, .main a:hover.thumbnail, .main a:active img, .main a:active.thumbnail, .main a:focus img, .main a:focus.thumbnail, #site-interface a:hover img, #site-interface a:hover.thumbnail, #site-interface a:active img, #site-interface a:active.thumbnail, #site-interface a:focus img, #site-interface a:focus.thumbnail {
      border-bottom: none; }
  .main a.image-basic, #site-interface a.image-basic {
    border-bottom: none !important; }
.main p, #site-interface p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: .05em; }
  .main p a, .main p .link, #site-interface p a, #site-interface p .link {
    border-bottom: solid 1px #cbcbcb;
    color: #cbcbcb;
    text-decoration: none; }
    .main p a:hover, .main p .link:hover, #site-interface p a:hover, #site-interface p .link:hover {
      opacity: .6; }
.main .link-more-wrapper, #site-interface .link-more-wrapper {
  margin-top: 15px;
  text-align: center; }
.main .list-links li, #site-interface .list-links li {
  font-size: 18px;
  line-height: 2em; }
.main .form-control, .main .form-select .btn, #site-interface .form-control, #site-interface .form-select .btn {
  background: #ece9e7 !important;
  border: 1px solid #5f5044 !important;
  border-radius: 5px !important;
  height: auto;
  padding: 12px 12px; }
.main .form-select .btn .caret, #site-interface .form-select .btn .caret {
  top: 19px !important; }
.main .btn.btn-site, .main a.link-more, #site-interface .btn.btn-site, #site-interface a.link-more {
  background: none;
  border: 1px solid #738179;
  font-family: "NexaBold";
  font-size: 13px;
  letter-spacing: 2px;
  color: #738179;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 5px; }
  .main .btn.btn-site:hover, .main a.link-more:hover, #site-interface .btn.btn-site:hover, #site-interface a.link-more:hover {
    background: url("/themes/poppy/img/pattern-hover.jpg") repeat;
    border: 1px solid #cbcbcb;
    color: #cbcbcb; }
.main h4.sub-headline, .main .modal-title, .main .blog-title, #site-interface h4.sub-headline, #site-interface .modal-title, #site-interface .blog-title {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  color: #728078;
  font-family: "smoothysans"; }
.main .modal-title, #site-interface .modal-title {
  text-align: left;
  margin-bottom: 10px; }
.main .blog-title, #site-interface .blog-title {
  margin-bottom: 10px; }
.main h5.content-title, #site-interface h5.content-title {
  color: #738179;
  font-size: 18px;
  margin-bottom: 10px; }
.main p.event-details, .main p.rsvp-event-date, #site-interface p.event-details, #site-interface p.rsvp-event-date {
  color: #738179;
  /* text color */
  font-family: "NexaBold";
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 10px;
  line-height: 20px;
  display: block; }
.main .event-time, #site-interface .event-time {
  display: block; }
.main .modal-subheading, #site-interface .modal-subheading {
  font-family: "NexaBold";
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 3px; }

.four-col-wrapper .four-col {
  float: none;
  display: inline-block;
  padding: 10px 35px;
  vertical-align: text-top; }
  .four-col-wrapper .four-col .link-more-wrapper {
    margin-bottom: 2em; }
.four-col-wrapper .module-wrapper-row {
  text-align: center; }
  .four-col-wrapper .module-wrapper-row .thumbnail {
    background: none; }
    @media only screen and (max-width: 772px) {
      .four-col-wrapper .module-wrapper-row .thumbnail {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto; } }
  .four-col-wrapper .module-wrapper-row .img-responsive {
    border-radius: 50%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */ }
  .four-col-wrapper .module-wrapper-row .image-with-overlay a {
    border-radius: 50%;
    background: none;
    border-bottom: none !important; }
  .four-col-wrapper .module-wrapper-row .image-with-overlay .figcaption {
    background: url("/themes/poppy/img/pattern-hover.jpg") repeat;
    border-radius: 50%; }
    .four-col-wrapper .module-wrapper-row .image-with-overlay .figcaption:hover {
      border-radius: 50%; }
    .four-col-wrapper .module-wrapper-row .image-with-overlay .figcaption h5 {
      color: #cbcbcb;
      font-family: "NexaBold";
      text-transform: uppercase;
      letter-spacing: 1px; }
  .four-col-wrapper .module-wrapper-row .instagram-bar {
    background: none;
    text-align: center; }

[data-editable="true"] {
  display: block !important; }

/* ---------------------------

	Modules

-------------------------- */
/* ! Module */
.module {
  /*** Slideshow ***/
  /*** Story ***/
  /*** Timeline ***/
  /*** Blog ***/
  /*** Registry ***/
  /*** Wall ***/
  /*** Video ***/ }
  .module .module-content {
    padding: 0 0 4em; }
    .module .module-content img {
      border-radius: 0px; }
  .module .module-rsvp-list a.link-more,
  .module .event-item-contents a.link-more,
  .module .module-travel-list a.link-more,
  .module .module-video-list a.link-more {
    width: 100%; }
  .module .module-body header {
    margin-bottom: 40px; }
  .module#module-header .header-img-top {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("/themes/poppy/img/flowers.png") no-repeat top center;
    min-width: 995px;
    min-height: 378px; }
  .module#module-header .couple-names {
    padding-top: 135px; }
  .module#module-header .name {
    font-family: 'smoothyscript';
    font-size: 55px;
    letter-spacing: 0px;
    display: inline-block;
    width: 49%; }
    .module#module-header .name.name-one {
      text-align: right;
      padding-right: 150px; }
    .module#module-header .name.name-two {
      padding-left: 170px; }
    .module#module-header .name.ampersand {
      display: none; }
  .module#module-header .tagline, .module#module-header .wedding-date {
    display: inline-block;
    width: 49%;
    padding-top: 30px; }
  .module#module-header .tagline {
    font-family: "smoothysans";
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 60px; }
    .module#module-header .tagline.tagline-1 {
      text-align: left;
      padding-right: 0;
      padding-left: 75px; }
  .module#module-header .wedding-date {
    font-family: "smoothysans";
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .module#module-header .page-header {
    margin: 0;
    padding: 0; }
    .module#module-header .page-header h2 {
      background: none;
      height: 15px;
      line-height: 3px;
      min-height: 10px;
      margin-top: 14px; }
      .module#module-header .page-header h2 img {
        padding: 0 10px; }
  @media only screen and (max-width: 1200px) {
    .module#module-header {
      background: url("/themes/poppy/img/smudge-mobile.png") no-repeat top center;
      background-size: auto; }
      .module#module-header .header-img-top {
        padding-top: 00px;
        padding-bottom: 0px;
        background: url("/themes/poppy/img/flowers-mobile.png") no-repeat top center;
        min-width: 319px;
        min-height: 113px; } }
    @media only screen and (max-width: 1200px) and (max-width: 480px) {
      .module#module-header .header-img-top {
        min-width: 290px; } }
  @media only screen and (max-width: 1200px) {
      .module#module-header .name {
        display: block;
        width: 100%; }
        .module#module-header .name.name-one {
          text-align: center;
          padding-right: 0px; }
        .module#module-header .name.name-two {
          text-align: center;
          padding-left: 0px; }
        .module#module-header .name.ampersand {
          text-align: center;
          font-family: "smoothysans";
          font-size: 15px;
          display: inline-block;
          top: -15px;
          position: relative; }
      .module#module-header .tagline, .module#module-header .wedding-date {
        display: block;
        width: 100%;
        padding-top: 30px; }
      .module#module-header .tagline {
        text-align: center;
        padding-right: 0px; }
        .module#module-header .tagline.tagline-1 {
          text-align: center;
          padding-left: 0;
          padding-top: 10px; } }
  .module .page-header {
    text-align: center;
    border: none;
    padding-bottom: 40px;
    margin: 20px 0 20px; }
    .module .page-header h2 {
      background: url("/themes/poppy/img/title-chalk.png") no-repeat bottom center;
      min-height: 89px;
      line-height: 89px;
      font-family: "smoothyscript";
      font-size: 36px;
      letter-spacing: 0px;
      display: inline-block;
      width: 100%; }
      @media only screen and (max-width: 480px) {
        .module .page-header h2 {
          font-size: 28px; } }
      .module .page-header h2:before {
        background-image: url("/themes/poppy/img/arrow-end-left.png"), url("/themes/poppy/img/arrow-left.png"), url("/themes/poppy/img/arrow-middle.png");
        background-position: left center, right center, center center;
        background-repeat: no-repeat, no-repeat, repeat-x;
        min-height: 16px;
        content: " ";
        display: inline-block; }
      .module .page-header h2:after {
        background-image: url("/themes/poppy/img/arrow-end-right.png"), url("/themes/poppy/img/arrow-right.png"), url("/themes/poppy/img/arrow-middle.png");
        background-position: right center, left center, center center;
        background-repeat: no-repeat, no-repeat, repeat-x;
        min-height: 16px;
        content: " ";
        display: inline-block; }
      .module .page-header h2 span {
        padding-left: 5px;
        padding-right: 5px; }
  .module .module-slideshow .carousel-inner {
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */ }
  .module .module-slideshow .module-content {
    padding-bottom: 20px; }
  .module .module-slideshow a {
    border-bottom: none !important; }
  .module .module-story .link-more-wrapper {
    margin-top: 20px; }
  @media only screen and (max-width: 992px) {
    .module .module-story {
      margin-bottom: 60px; } }
  .module.module-timeline .measurement {
    background: #738179;
    box-shadow: none; }
  .module.module-timeline #timeline .bullet {
    background: #738179; }
    .module.module-timeline #timeline .bullet.event-first, .module.module-timeline #timeline .bullet.event-last {
      background: #28292b;
      border: 2px solid #738179;
      width: 70px;
      height: 70px;
      top: -7px; }
      .module.module-timeline #timeline .bullet.event-first .text, .module.module-timeline #timeline .bullet.event-last .text {
        color: #ebe9e6;
        font-size: 17px;
        position: relative;
        top: 2px; }
  .module .blog-meta {
    font-family: "NexaBold";
    text-transform: uppercase;
    font-size: 13px !important;
    padding-bottom: 10px;
    line-height: 30px;
    letter-spacing: 4px !important;
    text-align: center; }
  .module .blog-item {
    margin-bottom: 60px; }
    .module .blog-item header {
      margin-bottom: 0; }
  .module .blog-item:last-child {
    margin-bottom: 0px; }
  .module .blog-body .thumbnail {
    background: none; }
  .module .blog-body .img-responsive {
    border-radius: 50%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */ }
  .module .blog-body .without_corners {
    padding: 0 20px; }
  .module .module-registry-list .item-registry {
    margin-bottom: 2em; }
  .module .module-registry-list a.thumbnail {
    background: #ece9e7;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    display: table-cell !important;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    /* drop shadow */ }
    .module .module-registry-list a.thumbnail:hover {
      opacity: .8; }
  .module.module-wall .wall-item {
    margin-bottom: 15px; }
    .module.module-wall .wall-item .wall-message {
      background-image: url("/themes/poppy/img/quote-left.png"), url("/themes/poppy/img/quote-right.png");
      background-position: left top, right top;
      background-repeat: no-repeat, no-repeat;
      padding: 0 35px;
      padding-top: 5px;
      font-size: 20px; }
    .module.module-wall .wall-item cite {
      display: block;
      color: #738179;
      /* text color */
      font-family: "NexaBold";
      font-size: 13px !important;
      text-transform: uppercase;
      letter-spacing: 4px !important;
      margin: 7px 0px; }
  .module.module-wall .post-pager {
    position: relative;
    width: 100%;
    margin-top: 15px;
    text-align: center; }
    .module.module-wall .post-pager a {
      margin: 0; }
  .module.module-wall .link-more-wrapper {
    margin-top: 0 !important; }
    @media only screen and (max-width: 480px) {
      .module.module-wall .link-more-wrapper {
        margin-top: 85px !important; } }
  .module .module-video-list .without_corners {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; }
  .module .module-video-list .without_corners img {
    width: auto;
    height: 100%;
    border-radius: 0px; }
  .module .module-rsvp-search .input-row .form-control:first {
    margin-bottom: 15px; }

.popover-timeline {
  border: 1px solid #ece9e7;
  padding: 0;
  background: #ece9e7; }
  .popover-timeline .arrow {
    display: none; }
  .popover-timeline .popover-title {
    background: #28292b;
    text-align: center;
    border-bottom: none;
    padding: 13px 14px;
    font-size: 15px; }
  .popover-timeline .popover-content {
    padding: 0; }
    .popover-timeline .popover-content img {
      border-radius: 0;
      width: 274px !important; }
  .popover-timeline .event-date {
    color: #738179;
    text-align: center;
    font-family: "NexaBold";
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .2px;
    font-size: 12px;
    margin: 10px 0; }

.popover.top > .arrow:after {
  border-top-color: #ece9e7; }

/*** Modals ***/
.modal.modal-site .modal-content {
  background: url("/themes/poppy/img/bg.jpg") repeat;
  border-radius: 3px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* drop shadow */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* drop shadow */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* drop shadow */ }
.modal.modal-site .modal-body {
  padding: 60px 30px; }
.modal.modal-site img {
  border-radius: 0px;
  border: none !important; }
.modal.modal-site .thumbnail {
  margin-bottom: 0; }
.modal.modal-site .party-member-photo {
  margin-bottom: 0 !important; }
.modal.modal-site .event-date-times, .modal.modal-site .rsvp-modal-date {
  font-family: "NexaBold";
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 10px;
  line-height: 20px; }
.modal.modal-site .rsvp-modal .rsvp-buttons .text {
  padding: 0 10px; }
  @media only screen and (max-width: 480px) {
    .modal.modal-site .rsvp-modal .rsvp-buttons .text {
      display: block;
      margin: 10px 0px; } }
@media only screen and (max-width: 480px) {
  .modal.modal-site .rsvp-modal .rsvp-buttons .text-right {
    text-align: center; } }
.modal.modal-site .rsvp-modal form {
  border-top: none !important;
  background-image: url("/themes/poppy/img/arrow-end-left.png"), url("/themes/poppy/img/arrow-left.png"), url("/themes/poppy/img/arrow-middle.png");
  background-position: left top, right top, center top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  min-height: 16px;
  content: " ";
  display: inline-block;
  width: 100%; }
  .modal.modal-site .rsvp-modal form.password-submit {
    background: none !important;
    padding-top: 0 !important; }
    .modal.modal-site .rsvp-modal form.password-submit .text-right {
      text-align: center; }
.modal.modal-site .rsvp-modal #rsvp-password {
  margin-top: 40px; }
.modal.modal-site hr {
  border-top: none !important;
  background-image: url("/themes/poppy/img/arrow-end-left.png"), url("/themes/poppy/img/arrow-left.png"), url("/themes/poppy/img/arrow-middle.png");
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  min-height: 16px;
  content: " ";
  display: inline-block;
  width: 100%; }
.modal.modal-site .close {
  right: 12px !important;
  opacity: .8 !important; }

.module-password {
  margin: 50px; }

/*** Footer ***/
.module-footer .social-links li a:hover {
  border-bottom: none !important; }

.module-footer .social-links li a:before {
  font-size: 65px; }

.page-footer p, .page-footer a {
  color: #cbcbcb !important; }

#modal-poll .progress .progress-bar {
  border-radius: 3px;
  background: #cbcbcb;
  color: #738179; }
  #modal-poll .progress .progress-bar.leader {
    background: #738179;
    color: #cbcbcb; }
#modal-poll .progress .progress-bar.zero {
  background: #cbcbcb !important;
  color: #738179 !important; }

img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.img-responsive {
  width: 100%; }

.thumbnail {
  margin-bottom: 2em; }

a.thumbnail:before,
.thumbnail:before, a.thumbnail:after,
.thumbnail:after, a.thumbnail .bottom:before,
.thumbnail .bottom:before, a.thumbnail .bottom:after,
.thumbnail .bottom:after {
  width: 42px;
  height: 42px;
  position: absolute;
  display: block;
  content: '';
  z-index: 10; }

a.thumbnail,
.thumbnail {
  position: relative; }
  a.thumbnail:before,
  .thumbnail:before {
    top: -5px;
    left: -5px; }
  a.thumbnail:after,
  .thumbnail:after {
    top: -5px;
    right: -5px;
    background-position: -62px -10px; }
  a.thumbnail .bottom,
  .thumbnail .bottom {
    overflow: visible; }
    a.thumbnail .bottom:before,
    .thumbnail .bottom:before {
      bottom: -5px;
      left: -5px;
      background-position: -114px -10px; }
    a.thumbnail .bottom:after,
    .thumbnail .bottom:after {
      bottom: -5px;
      right: -5px;
      background-position: -166px -10px; }

.image-with-overlay {
  position: relative !important;
  display: inline-block; }
  .image-with-overlay img, .image-with-overlay a {
    vertical-align: bottom; }
  .image-with-overlay img {
    width: 100%;
    height: auto; }
  .image-with-overlay .figcaption {
    z-index: 9;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    position: absolute !important;
    opacity: 0;
    transition: all .5s ease;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .image-with-overlay .figcaption:hover {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .image-with-overlay .figcaption .figcaption-table {
      display: table !important;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle; }
    .image-with-overlay .figcaption .figcaption-display-cell {
      display: table-cell !important;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%; }
    .image-with-overlay .figcaption h5, .image-with-overlay .figcaption .album-photo-count {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;
      color: #FFFFFF;
      text-shadow: none; }
    .image-with-overlay .figcaption .album-photo-count {
      color: rgba(255, 255, 255, 0.5); }
  .image-with-overlay:hover .figcaption {
    opacity: 1; }



​img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


/*# sourceMappingURL=style.css.map */
@charset "utf-8";
/* CSS Document */

